body {
    background-color: rgb(215, 222, 227);
}
h1{
    text-align: center;
    color: white;
}
header {
    background-color: black;
    padding: 10px;
}
.divMenu {
    background: rgb(238,174,202);
    background: radial-gradient(circle, rgba(238,174,202,1) 0%, rgba(148,187,233,1) 100%);
    margin: 10px;
    border: 1px solid black;
    border-radius: 10px;
    padding: 10px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    text-align: center;
}
a {
    border: 1px solid black;
    border-radius: 10px;
    padding: 5px;
    margin: 10px;
    background-color: aliceblue;

}
.cardMovie img {
    border-radius: 10px;
    padding: 5px;
}

section {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}
.cardMovie {
    margin: 1em;
    width: 350px;
    padding: 5px;
    border: 2px solid black;
    border-radius: 10px;
    text-align: center;
    background-color: rgb(155, 167, 167);
    
}
.divSearch {
    padding: 5px;
    width: 100%;
    display: inline-block;
}

.divSearch form input {
    width: 80%;
    border: 1px solid black;
    border-radius: 10px;
    padding: 5px;
    background-color: aliceblue;

}

.divSearch form button {
    background-color: aliceblue;
    border: 1px solid black;
    border-radius: 10px;
    padding: 5px;
}

.divCards {
    background-color: black;
    margin: 20px;
    border-radius: 10px;
}

footer {
    background-color: black;
    color: white;
    padding: 20px;
    text-align: center; /* Centra verticalmente los elementos */
}
section {
    margin: 20px;
    border: 5px solid black;
    border-radius: 10px;
    background-color: rgb(140, 162, 175);
    color: rgb(255, 255, 255);
}